@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: #fffafb;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

::-webkit-scrollbar {
  width: 0px;
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 800px;
}

.flipper {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.box.flipped .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.stack-getintouch {
  display: flex;
  align-items: center;
  gap: 15px;
}
.btn {
  background-color: #00fffa;
}
.btn:hover {
  background-color: yellowgreen;
}
.container {
  background-color: aqua;
}

@font-face {
  font-family: benzinr;
  src: url(../public/Benzin-Regular.ttf);
}
.benzinr {
  font-family: benzinr;
}

@font-face {
  font-family: benzinm;
  src: url(../public/Benzin-Medium.ttf);
}
.benzinm {
  font-family: benzinm;
}

@font-face {
  font-family: benzinsb;
  src: url(../public/Benzin-Semibold.ttf);
}
.benzinsb {
  font-family: benzinsb;
}

.protest {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
