* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  width: vw;
}
body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  